<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JustAnotherGameEngineCore/src/com/valarion/gameengine/core/GameCore.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.valarion.gameengine.core.GameCore"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JustAnotherGameEngineCore"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DruningInEclipse=true"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:JustAnotherGameEngineTest}"/>
</launchConfiguration>
